/*********************************************
Globals
 *********************************************/
html {
    height: 100%;
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    background: url("../img/vancouver.png") no-repeat center;
    font-family: 'PT Sans', sans-serif;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not-allowed {
    cursor: not-allowed;
}

.invalid {
    color: #dc3545;
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem #dc3545;
    z-index: 3;
}

/*********************************************
 Top navbar
 *********************************************/
#top-navbar {
    background-color: transparent;
}

#top-navbar .navbar-logo {
    text-decoration: none;
    letter-spacing: 1px;
}

/*********************************************
Event Title
 *********************************************/
#eventCategories-title {
    background-color: transparent;
    padding: 2rem 1rem;
}

/*********************************************
Main
 *********************************************/
#homepage-form {
    max-width: 576px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
}

/*********************************************
Homepage date picker
 *********************************************/
#homepage-datePicker,
#homepage-location {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#homepage-datePicker:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#homepage-form .date-form-group .gj-datepicker .input-group-append button {
    background-color: #e9ecef;
    padding: 1.5rem 2rem;
}

#homepage-form .date-form-group .gj-datepicker .input-group-append button i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

/*********************************************
Categories
 *********************************************/
#categories .container {
    max-width: 992px;
}

/*********************************************
Category card
 *********************************************/
#categories .cat-card {
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari 3-8 */
    transform: scale(0);
    transition: transform 0.2s ease;
}

#categories .cat-card.show:hover {
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#categories .cat-card.show {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
}

#categories .cat-card .card-wrapper .card-footer .cat-desc {
    font-size: medium;
}

#categories .cat-card .card-wrapper {
    background-color: rgba(240, 248, 255, 0.9);
    border: 2px solid #8de2f4;
    box-shadow: 0 .25rem 0.75rem deepskyblue;
}

#categories .cat-card .card-wrapper .card-footer {
    background-color: unset;
}

#categories .cat-card .card-wrapper .card-footer .cat-desc {
    background: #8de2f4;
}

/*********************************************
Category card image
 *********************************************/
#categories .cat-card .card-wrapper .cat-img {
    transition: filter 0.3s ease;
}

/* image dark on hover */
#categories .cat-card:hover .card-wrapper .cat-img {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
}

/* image always dark */
#categories .cat-card .card-wrapper .cat-img.img-dark {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
}

/*********************************************
Category card image-overlay
 *********************************************/
#categories .cat-card .card-wrapper .cat-img-overlay {
    top: 50%;
    left: 50%;
    max-width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
}

#categories .cat-card:hover .card-wrapper .cat-img-overlay {
    opacity: 1;
}

/* always show image overlay */
#categories .cat-card .card-wrapper .cat-img-overlay.show-icon {
    opacity: 1;
}

/*********************************************
Categories submit button
 *********************************************/
#categories-submit a {
    background-color: #8de2f4;
    border-color: #8de2f4;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari 3-8 */
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

#categories-submit a.show:hover {
    background-color: #129eba;
    border-color: #129eba;
}

#categories-submit a.show {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
}

/*********************************************
CSS Loading Spinner
 *********************************************/
.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.cube1, .cube2 {
    background-color: rgba(153, 255, 204, 0.95);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}